@tailwind base;
@tailwind components;
@tailwind utilities;

#__react-main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	background: rgb(77, 9, 121);
	background: linear-gradient(45deg, rgba(77, 9, 121, 1) 0%, rgba(0, 229, 255, 1) 100%);
}
